.results {
    margin: 2rem;

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__search {
        font-weight: bold;
    }

    &__container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(auto-fit, 300px);
        gap: 1.5rem;
    }
}