@use '../App/mixin';


.results {
    margin: 2rem;

    &__title {
        font-size: 2rem;
        text-align: center;
    }

    &__search {
        font-weight: bold;
    }

    &__container {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

        @include mixin.small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mixin.medium {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mixin.big {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}