@use 'reset-css';
@use './var';

* {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
}

#app {
    width: 90%;
    margin: 2rem auto;
    font-family: 'roboto', sans-serif;
    color: var.$maincolor;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-color: var.$mainbackground;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 128, 128, 0.4);

}
